/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
  }
}

@mixin for-tablet-layout {
  @media (min-width: $break-tablet) {
    @content;
  }
}

@mixin for-desktop-layout {
  @media (min-width: $break-desktop) {
    @content;
  }
}

// navlink

@mixin navLink() {
  font-family: Livvic - Semi Bold;
  color: $clrPrimary3;
  height: em(28px);
  font-size: em(18px);
  font-style: normal;
  letter-spacing: normal;
  line-height: em(28px);
  text-align: left;
  font-weight: bold;
  text-decoration: none
}

//avatar

@mixin avatar() {
  width: 62px;
  height: 62px;
  border: 2px solid #c4fffe;
  border-radius: 50%;
}