@font-face {
    font-family: Livvic - Semi Bold;
    src: url(../../../../public/fonts/Livvic/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: Livvic - Bold;
    src: url(../../../../public/fonts/Livvic/Livvic-Bold.ttf);
}

@font-face {
    font-family: Livvic- MediumItalic;
    src: url(../../../../public/fonts/Livvic/Livvic-MediumItalic.ttf);
}