// COLOR PALETTE
$clrPrimary1:#014e56;
$clrPrimary2:#f67e7e;
$clrPrimary3:#ffffff;

$clrSecondary1:#79c8c7;
$clrSecondary2:#2c6269;
$clrSecondary3:#004047;
$clrSecondary4:#012f34;
$clrSecondary5:#002529;

// LAYOUT BREAKPOINTS
$break-desktop: 1440;
$break-tablet: 768;
$break-mobile: 3750px;